<div class="jumbotron jumbotron-fluid">
  <form role="search">
    <input class="search" type="text" placeholder="Search">
    <!-- <button class="btn">Search</button> -->
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2" id="grid" *ngFor='let user of (users$ | async)'>
      <h2>{{ user.firstName }}</h2>
      <h2>{{ user.surname }}</h2>
      <p>
        <strong>Info:</strong><br>
        Age: {{ user.age }}<br>
        Gender: {{ user.gender }}<br>
      </p>
      <p><button class="btn btn-secondary btn-sm" (click)="onClick(user._id)">See profile&raquo;</button></p>
    </div>

  </div>
