#grid {
  margin: 0.5cm;
}

input[type=text] {
  box-align: center;
  margin: 1cm;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 40%;
  width: 600px;
  padding: 10px;
  cursor: cursor;
  font-weight: 200;
  color: rgb(26, 26, 26);
  font-size: 200%;
}

.search {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.conteiner {
  margin: 2cm;
}

.jumbotron {
  text-align: center;
}
