<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Welcome to Social.Net!</h1>
    <p class="lead">This is MEAN Application that let you choose person within the group of people and see their
      friends, friends of friends and suggested friends. Enjoy!</p>
    <p><a class="btn btn-success" routerLink="/dashboard">Start searching &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <h3>MongoDB</h3>
      <p>Using Mongoose to organize models and query the MongoDB</p>
    </div>

    <div class="col-sm">
      <h3>Express Backend</h3>
      <p>A rock solid Node.js/Express server. </p>
    </div>
    
    <div class="col-sm">
      <h3>Angular-CLI</h3>
      <p>Algular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>

  </div>
</div>
